*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav
{
    background-color: black;
    padding: 20px;
}

nav a
{
    text-decoration: none;
    color: yellow;
    font-weight: bold;
    margin-left: 100px;
}

.active
{
    color: orange;
    text-decoration: underline;
}